# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/

# Node
node_modules/

# Databases
*.db
*.db-journal
*.sqlite
*.sqlite3

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
